version: '3.9'

services:
  app:
    build:
      context: ./docker/php
      dockerfile: Dockerfile
    container_name: laravel_app
    working_dir: /var/www
    volumes:
      - ./app:/var/www
      - ./docker/php/php.ini:/usr/local/etc/php/php.ini

    networks:
      - laravel

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./app:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  bun:
    image: oven/bun:1.3.1
    container_name: bun_app
    working_dir: /var/www
    volumes:
      - ./app:/var/www
    networks:
      - laravel
    command: [ "sleep", "infinity" ]

  db:
    image: postgres:15
    container_name: pgsql
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: supersecretpassword
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - laravel

networks:
  laravel:


volumes:
  pgdata:
